.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 600px 200px;
    background-color: red;
    border: 1px solid chartreuse;
}
/* .box{
    height: 400px;
    width: 300px;
    border: 1px dotted brown;
    background-color: chartreuse;
} */
.box1{
    display: grid;
    height: 350px;
    width: 300px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 1px dotted brown;
    background-color: rgb(200, 127, 255);
}
.box2{
    height: 400px;
    width: 300px;
    border: 1px dotted brown;
    background-color: rgb(39, 104, 137);
}
.box3{
    height: 400px;
    width: 300px;
    border: 1px dotted brown;
    background-color: aquamarine;
}
.box11{
 height: 50px;
 width: 100px;
 margin-left: 20px;
 margin-right: 20px;
 border: 1px solid red;
 background-color: black;
}
.box12{
 height: 50px;
 width: 100px;
 margin-left: 20px;
 margin-right: 20px;
 border: 1px solid red;
 background-color: brown;
}
.box13{
 height: 50px;
 width: 100px;
 margin-left: 20px;
 margin-right: 20px;
 border: 1px solid red;
 background-color: cadetblue;
}
.box14{
 height: 50px;
 width: 100px;
 margin-left: 20px;
 margin-right: 20px;
 border: 1px solid red;
 background-color: rgb(160, 95, 138);
}


